.section-baner {
    background-image: url(/root/img/bowl-and-pet-daities-on-green-background\ 1.png);
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-negro {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #222222;
    color: white;
    font-size: 20px;
}
.text{
    font-weight: lighter;
}
.header-naranja{
    background-color:#F0A83E;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 166.38px;
    height: 23px;
    left: 40px;
    top: 39px;
}
.ul-nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    list-style: none;
}
.lista{
    margin-right: 15px;
    border-bottom: 0px;
    text-decoration:none;
    color:white
}
.container-banner{
    margin-right: 25px;
    margin top: 20px;
    text-align: center;
}
.text-banner{
    background-color: white;
    font-weight: lighter;
    padding: 5px;
    border-radius: 5px;
}
.button{
    background-color:#F0A83E ;
    color: white;
    border-width: 0px;
    padding: 10px;
    border-radius: 5px;
}
.container-destacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-destacados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    text-align: center;
}
.list-destacados{
    display: flex;
    list-style: none;
}
.list-black{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

